<mat-nav-list>
  <a mat-list-item routerLink="/signup" (click)="close()">
    <span class="nav-caption">Signup</span>
    <mat-icon>face</mat-icon>
  </a>
  <a mat-list-item routerLink="/login" (click)="close()">Login
    <mat-icon>login</mat-icon>
  </a>
  <a mat-list-item routerLink="/training" (click)="close()">
    <span class="nav-caption">Training</span>
    <mat-icon>fitness_center</mat-icon>
  </a>
  <a mat-list-item routerLink="/" (click)="onLogout()">Logout
    <mat-icon>logout</mat-icon>
  </a>
</mat-nav-list>
